*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    font-size: 15px;
    font: bold;
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: space-between;


    
   
   

}
.he{
    width: 5%;
    height: 0.5px;

    padding: 10px;
   color: red;
}
.head marquee{
    width: 60%;
    height: 40px;
    float: left;
    padding: 10px;
    font-weight: bolder;
    font-family: sans-serif;
}

.head a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    font-family: sans-serif;
    float: left;

}
.head img{
    width: 30px;
    margin-top: 5px;
}
hr{
    
    width: 100%;
    margin-top: 3%;
    border: 0;
    border-top: 1px solid #ccc;
}
.next{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: white;
    



}


.next img{
    width: 250px;
    height: 100px;
    

}

.next nav ul li{
float: left;
padding: 40px 5px;
list-style-type: none;

}
.next nav ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: black;
}



.secnext {
    background-image: url("hero-japan.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%;
    height: 450px;
}
.secnext h1{
    color: white;
    padding: 100px;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
}
.b{
    text-align: center;
}
.b button{
    width: 12%;
    height: 55px;
    background-color: #20c997;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.midle h1{
   
    font-family: sans-serif;
    margin-top: 8%;
    font-size: 40px;

}
.midle h4{
    font-family: sans-serif;
    margin-top: 2%;
    font-size: 20px;
    color: gray;


}
.box{
    max-width: 1150px;
    margin: 0 auto;
    background-color: #28a745;
    height: 100px;
    margin-top: 5%;
   
}
.box{
    display: flex;
    justify-content: space-between;
}
.box i{
    width: 5%;
    height: 60px;
    background-color:white;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-top: 2%;
    margin-left: 60px;
        
}
.box i:hover{
    cursor: pointer;
    background-color:#6E78FF;
}
.box a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-top:3%;
    margin-right: 5px;
    font-family: sans-serif;

}
.DISCOUNT{
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 15%;
    background-image: url("birdseye-new.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 350px;
       
}
.DISCOUNT h1{
   margin-left:10%;
   padding-top: 8%;
   color: black;
   font-size: 30px;
   font-family: sans-serif;
   font-weight: bolder;

}
.DISCOUNT p{
   margin-left:10%;
   
   color: white;
   font-size: 24px;
   font-family: sans-serif;
   font-weight: bolder;
   padding-top: 4px;

}
.DISCOUNT h2{
    margin-left:10%;
    margin-top: 5px;
    width: 18%;
    height: 60px;
    background-color: #20c997;;
    text-align:  center;
        font-size: 15px;
        font-family: sans-serif;
        padding-top: 20px;
        color: white;
        box-shadow: 5px white;
}
.DISCOUNT h2:hover{
    cursor: pointer;
    background-color: white;
    color: #20c997;;
    box-shadow: 5px;
}

.map{
    background-image: url("route-map_1200x600.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: white;
     width: 100%;
     height: 550px;
}



.phone{
    width: 100%;
    height: 600px;
    background-color: #f8f9fa;;
    margin-top: 5%;
}
.phone img{
    margin-top: 5%;
}
.phone h1{
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 8%;
    padding-top: 10%;
}
.phone i{
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border-radius: 50%;
    padding: 10px;
}
.phone i:hover{
    cursor: pointer;
    background-color: blue;
}
.phone p{
    margin-left: 100px;
    padding: 10px;   
    font-size: 20px;
    font-family: sans-serif;
}
.phone .icon img{
    margin-left: 100px;
    margin-top: 10px;
    height: 40px;

}
.lastt{
     background-image: url("bg_3.jpg");
     background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
     width: 100%;
     height: 550px;

}
.last{
    
     display: flex;
     justify-content: space-between;
     padding-left: 200px;
     padding-right: 200px;
}

.imgg img{
   
    height: 80px;

}
.imgg p{
    padding: 5px;
    margin-top: -10px;
}
.imgg a{
     padding-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;

}
.last h4{
    color:#20c997 ;
    margin-top: 30px;

}
.last ul li {
    text-decoration: none;
    padding: 10px;
    padding-top: 20px;
    list-style-type: none;

}
.last ul li a{
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}
.last ul li a:hover{
    color:#20c997 ;
   cursor: pointer;
   text-decoration: underline 2.5px;

}
.ll{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}
.ll-r h4{
    display: inline;
    padding-left: 15px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5%;

}
.ll-r h4:hover{
    text-decoration: underline 2.5px;
    cursor: pointer;
    color:#20c997

}
.ll-l i{
    width: 50px;
    height: 50px;
    background-color:white;
    border-radius: 50%;
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
  
   
   
    
}
.ll-l i:hover{
    cursor: pointer;
    background-color: blue;
}
.final{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.left a img{
    margin-top: 15%;
    width: 15px;
}
.left a{
    font-size: 15px;
    color: #20c997;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;

}

.right a{
    font-size: 20px;
    color: #20c997;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.right img{
    width: 40px;
    margin-top: 10%;
}
.half{
               
            
            height: 180px;
            width: 100%;


            
            
            background-color: green;
}

   











